img{
    width: 300px;
    height: 300px;
}
#more{
    display: none;
}
*{
    font-size: 20px;
}
.container{overflow: hidden}
.tab{float: left;}
.tab-2{margin-left: 50px}
.tab-2 input{display: block;margin-bottom: 10px}
tr{transition:all .25s ease-in-out}
tr:hover{background-color:#EEE;cursor: pointer}
.imge{
    width: 100px;
    height: 100px;
}
.bigImage{
    width: 450px;
    height: 500px;
}